* {
	font-family: cursive, Helvetica, sans-serif;
	margin: 5px;
	padding: 2.5px;
}
@keyframes {
	
}

.ewl {
	background-color:#009645;
	color:white;
}
.nsl {
	background-color:#d42e12;
	color:white;
}
.nel {
	background-color:#9900aa;
	color:white;
}
.ccl {
	background-color:#fa9e0d;
	color:black;
}
.dtl {
	background-color:#005ec4;
	color:white;
}
.tel {
	background-color:#9d5b25;
	color:white;
}
.jrl {
	background-color:#0099aa;
	color:white;
}
.crl {
	background-color:#97c616;
	color:black;
}
.rts {
	background-color:#87cefa;
	color:white;
}
.lrt {
	background-color:#ffffff;
	color:white;
}