* {
	font-family: cursive, Helvetica, sans-serif;
	margin: 5px;
	padding: 2.5px;
}
@keyframes {
	
}

.ewl {
	background-color:#009645;
	color:#ffffff;
}
.nsl {
	background-color:#d42e12;
	color:#ffffff;
}
.nel {
	background-color:#9900aa;
	color:#ffffff;
}
.ccl {
	background-color:#fa9e0d;
	color:#2e2a25;
}
.dtl {
	background-color:#005ec4;
	color:#ffffff;
}
.tel {
	background-color:#9d5b25;
	color:#ffffff;
}
.jrl {
	background-color:#0099aa;
	color:#ffffff;
}
.crl {
	background-color:#97c616;
	color:#2e2a25;
}
.rts {
	background-color:#87cefa;
	color:#ffffff;
}
.lrt {
	background-color:#748477;
	color:#ffffff;
}
.sgbus {
	background-color:#93d500;
	color:#383a37;
}
.mrt_water {
	background-color:#dcebf0;
	color:#93a9b1;
}